

.footer-form {
    display: flex;
    align-items: center;

    &__container {
            margin-left: auto;
        }
    &__icon {
            width: 24px;
            height: 24px;
    
            fill: var(--white-txt-cl);
    
        }
    &__email {
        display: flex;
        align-items: center;
        min-width: 358px;
        height: 50px;
        padding: 0;
        padding-left: 16px;
    
    
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
    
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
    
        outline: none;
    
        cursor: pointer;
    
        transition-property: border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.email__footer-form{
    margin-right: 12px;
  
}

.icon__footer-form{
    margin-left: 10px;
}

.footer-form__email:focus {
    border-color: var(--blu-cl);
}