@media (min-width: 768px) {

    .menu-container,
    .menu-button {
        display: none;
    }

        
}






.menu-container {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 48px 40px;
    text-align: center;
    font-size: 20px;
    height: 100vh;
    background-color:var(--white-txt-cl);

    &.is-open {
        display: block;
        @media screen and (min-width: 768px) {
                display: none;
            }
    }



   @media screen and (max-width: 767px) {
       display: none;
   }
   z-index: 1;
}

.menu-socials{
    
    display: flex;
    gap: 20px;

    &__link{
        position: relative;
        @include fonts(18px, 22px, 500, 0.02em);
        color: var(--blu-cl);
    }

}
.menu-socials__after::after {
    content: "";
    position: absolute;
    left:100%;
    bottom: 40%;
    transform: rotate(90deg);
    border: 1px solid rgba(33, 33, 33, 0.2);

    display: block;
    width: 22px;
    height: 1px;
    // background-color: black; 
    }