:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --white-txt-cl: #FFFFFF;
    --black-txt-cl: #212121;
    --gray-txt-cl: #757575;
    --blu-cl: #2196F3;
    --bg-cl: #2F303A;
}