.header {
    position: relative;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;

        &__container {
            display: flex;
            align-items: center;
        }
}


@media (max-width: 767px){
    .contacts__item, .nav__list {
        display: none;
    }
}
    

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;

    &__link {
            display: flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #757575;
            align-items: center;
            gap: 10px;
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    &__icon {
            fill: currentColor;
        }
    &__item:not(:last-child) {
            margin-right: 50px;
    
        }
}
@media (min-width: 768px) {

    .menu-container, .menu-button
     {
        display: none;
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    height: 100vh;
    background-color: palegoldenrod;

    &.is-open{
        display: block;
    }
}