.header {
    position: relative;

    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
            padding-top: 26px;
            padding-bottom: 26px;
        }
    
        @media screen and (min-width: 1200px) {
            padding-top: 24px;
            padding-bottom: 25px;
        }
    
    border-bottom: 1px solid #ECECEC;

        &__container {
            display: flex;
            align-items: center;
        }
}


@media (max-width: 767px){
    .contacts__item, .nav__list {
        display: none;
    }
}
    

.contacts {
    
    display: flex; 

    // @media screen and (min-width: 768px) {
    //         flex-direction: column
    //     }
     @media screen and (max-width: 1199px) {
            flex-direction: column
        }
    @media screen and (min-width: 1200px){
            align-items: center;
    }
    
    
    gap: 10px;
    margin-left: auto;

    &__link {

        @media screen and (min-width: 768px) {
             @include fonts(12px, 14px, 500, 0.02em);
                gap: 8px;
            }
        @media screen and (min-width: 1200px) {
             @include fonts(14px, 16px, 500, 0.02em);
            gap: 10px;
                        }

            display: flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
            color: #757575;
            align-items: center;
            
    
            transition-property: color;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        }
    &__icon {
            fill: currentColor;
        }
    &__item:not(:last-child) {
        @media screen and (min-width: 1200px) {
                margin-right: 50px;
            }
            
    
        }
}

.icon-smartphone{
    @media screen and (min-width: 768px) {
            width: 10px;
            height: 14px;
    
        }
   @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
         }
}

.icon-envelope{
    @media screen and (min-width: 768px) {
            width: 14px;
            height: 10px;
        }
         @media screen and (min-width: 1200px) {
             width: 16px;
             height: 12px;
         }
}